*{
    margin: 0;
    padding: 0;
}

header{
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #333333;
    border-bottom-width: 0.5px;
    background: black;
    border-style: solid;
}

.logo-higraph{
    width: 100px;
    display: block;
    margin: 0.5% auto
}

.img-banner{
    width: 90%;
    display: inline-block;
    padding: 1% 5%;
}

body{
    font-family: 'Cinzel', serif;
    background: black;
    color: white;
    font-family: 'Cinzel', serif;
}

p{
    padding: 0 3em;
    text-align: left;
    margin-bottom: 2%;
    font-size: 1.09rem;
}

.titulo{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 0.7em;
    text-transform: uppercase;
}

.donate-img{
    width: 15%;
    margin: 0.5% 42.5% 2% 42.5%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.icon-img {
    width: 55px;
    padding: 1px 15px;
}

.link-donate{
    display: block;
}


@media (max-width: 800px){

    .logo-higraph{
        width: 80px;
        display: block;
        margin: 5px auto 5px auto;
    }

    .icon-img {
        width: 48px;
        padding: 2px 8px;
    }

    .donate-img{
        width: 30%;
        margin: 2% 35% 5% 35%;
    }

    P{
        text-align: left;
        padding: 0 30px;
    }
}

html, body{
    overflow-x: hidden !important;
}