*{
    margin: 0;
    padding: 0;
}

header{
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #333333;
    border-bottom-width: 0.5px;
    background: black;
    border-style: solid;
}

.logo-higraph{
    width: 42px;
    margin: 0.5% 0 0.5% 48%;
}

.img-banner{
    width: 90vw;
    padding: 0 5%;
    display: block;
    margin-bottom: 2%;
}

body{
    background: black;
    color: white;
    font-family: 'Cinzel', serif;
}

p{
    padding: 0 3em;
    text-align: center;
    margin-bottom: 2%;
}

.titulo{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 0.7em;
}

.donate-img{
    width: 15%;
    margin: 0.5% 42.5% 3%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-discord{
    width: 48px;
    margin-right: 15px;
}

.icon-tiktok{
    width: 40px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.icon-instagram{
    width: 48px;
    margin-bottom: 3px;
    margin-right: 15px;
}

.icon-twitch{
    width: 48px;
    margin-right: 15px;
}

.icon-twitter{
    width: 52px;
    margin-bottom: 5px;
}


@media (max-width: 800px){
    .logo-higraph{
        width: 42px;
        margin: 0.5% 0 0.5% 48%;
    }

    .social-icons {
        width: 90%;
        margin: 1% 2% 3% 8%;
        display: flex;
    }

    .donate-img{
        width: 36%;
        margin: 2% 32% 5% 32%;
    }

    P{
        text-align: left;
        padding: 0 30px;
    }
}

html, body{
    overflow-x: hidden !important;
}